.btn .fa{
    top: -2px !important;
  }
  .material-icons{
    top: 2px !important;
  }
  .custom-size{
    max-width: 100%
  }
  h5{
    font-weight: 400;
  }

  @media only screen and (min-width: 768px){
    /*.section{
      margin-right: 50vw;
      margin-left: -50vw;
      }*/
      .display-custom{
        display: flex;
      }
      .modal-custom-size{
        max-width: 25%;
      }
      .custom-size{
        max-width: 90%
      }
    }
    @media only screen and (min-width: 1200px){
      .display-custom{
        display: flex;
      }
    }
    @media only screen and (max-width: 768px){
      .display-custom{
        display: block;
        height: auto;
      }
    }
    video {
      width:305px;
      height:160px; 
      background:transparent url('https://fixmediakaraoke.com/asset/material/video/poster.png') no-repeat 0 0;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
    }
    .bg-svg-1{
      background-color: #ff7700;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
    }
    .bg-1{
      background-color: #212121;
      background-attachment: fixed;
      background-size: cover;
    }
    .bg-1::before{
      background: rgba(0, 0, 0, 0.1);
    }