.home-banner, .carousel-inner{
    height: 620px;
    /*background: url(http://fireworksbi.com/img/timthumb.php?src=http://fireworksbi.com/img/file/QTVPUT09RTRNVGt4TVRVeE16T1RrME5E.png&w=900) no-repeat top center / cover;*/
}
.caption_banner span{
    font-size: 12px !important;
}
.logoimg{
    width: 50%;
}
.radius{
    border-radius: 5px;
    box-shadow: 0px 0px 2px #474747;
}
/*.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-dialog.small{
    width: 300px;
}
.modal-dialog.small .body{
    text-align: center;
}*/

.bg-pink{
    background: #fff url('./impressions_asset/images/E5qVTM%3DqWXhNRGTVRVeE5N4TXpFe.jpg') repeat-x;
}

.p_desc_full h3{
    font-weight: bold;
}

.wa_contact{
    position: fixed;
    right: 50px;
    top: 15vh;
    background: #34af23;
    padding: 1px 20px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    z-index: 5;
    opacity: 0.8;
}

ul.li{
    margin-left: 1.5em;
    list-style: none;
    margin-top: 10px;
}
ul.li li:before {    
    content: '\f061';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #702f8a;
}

.search-part{
    position: absolute;
    right: 550px;
    z-index: 1;
    background: none !important;
}

.header .top-container .navbar-primary .sticky_navigation .search-part .menu-search-2 {
    padding: 24px 31px;
    text-align: right;
    padding-right: 0px;
}
.header .top-container .navbar-primary .sticky_navigation .search-part .menu-search-2 a{
    color: #fff;
    font-size: 19px;
}
.header .top-container .top-menu {
    padding: 10px 10px;
}

.dropdown-menu li:hover{
    background: rgba(251,238,247,1);
    background: -moz-linear-gradient(top, rgba(251,238,247,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,238,247,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(251,238,247,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(251,238,247,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,238,247,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(251,238,247,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbeef7', endColorstr='#ffffff', GradientType=0 );
}

.errorfill{
    border: 1px solid #ea6666;
    background: #ffcaca;
}

@media screen and (max-width: 1950px){
    .search-part{
        right: 16vw;
    }
}

@media screen and (max-width: 1400px){
    .home-banner, .carousel-inner{
        height: 600px;
    }
}
@media screen and (max-width: 1366px){
    .home-banner, .carousel-inner{
        height: 500px;
        /*background: url(http://fireworksbi.com/img/timthumb.php?src=http://fireworksbi.com/img/file/QTVPUT09RTRNVGt4TVRVeE16T1RrME5E.png&w=600) no-repeat center center / cover;*/
    }
    .carousel-caption h1{
        font-size: 28px;
        line-height: 35px;
    }
}
@media screen and (max-width: 1300px){
    .wa_contact{
        top: 10vh;
        right: 10px;
        padding: 1px 10px;
        font-size: 30px;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        border-radius: 23px;
        font-size: 16px;
    }
    /*.wa_contact span{
        display: none;
    }*/
}
@media screen and (max-width: 1024px){
    .home-banner, .carousel-inner{
        height: 460px;
    }
    .carousel-caption{
        top: 35% !important;
    }
}
@media screen and (max-width: 991px){
    .home-banner, .carousel-inner{
        height: 400px;
    }
    .carousel-caption{
        top: 33% !important;
    }
    .carousel-caption h1{
        font-size: 20px;
        line-height: 30px;
    }
    .service_content h3{
        font-size: 20px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 829px){
    .home-banner, .carousel-inner{
        height: 300px;
    }
    .carousel-caption{
        top: 30% !important;
    }
    .carousel-caption h1{
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-width: 644px){
    .caption_banner{
        line-height: 17px !important;
    }
    .button_wa_banner{
        margin-top: 10px;
    }
    .home-banner, .carousel-inner{
        height: 250px;
    }
    .carousel-caption{
        top: 30% !important;
    }
}
@media (max-width: 767px){

}
@media screen and (max-width: 414px){
    .home-banner, .carousel-inner{
        height: 180px;
    }
    .carousel-caption{
        top: 25% !important;
    }
    .carousel-caption h1{
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and (max-width: 375px){
    .home-banner, .carousel-inner{
        height: 160px;
    }
    .carousel-caption{
        top: 20% !important;
    }
}
@media screen and (max-width: 320px){
    .home-banner, .carousel-inner{
        height: 140px;
        /*background: url(http://fireworksbi.com/img/timthumb.php?src=http://fireworksbi.com/img/file/QTVPUT09RTRNVGt4TVRVeE16T1RrME5E.png&w=350) no-repeat center center / cover;*/
    }
    .carousel-caption{
        top: 15% !important;
    }
    .caption_banner{
        font-size: 12px !important;
    }
    .home-banner h1{
        font-size: 20px !important;   
    }
}

.full-screen {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.carousel-caption{
    top: 35%;
}