@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900');

body {
    /*font-family: 'Arima Madurai', cursive;*/
    font-family: 'Arial';
    background-color: #E5E9ED;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: 0 !important;
}

/* entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-container.static:hover .card,
.card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* flip speed goes here */
.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);*/
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 3;
}

.back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px;
}

/*        Style       */

.card {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border-radius: 4px;*/
    color: #444444;
}

.card-container, .front, .back {
    width: 100%;
    height: 180px;
    border-radius: 4px;
    /*-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);*/
}

.card .cover {
    height: 180px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.card .cover img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}

.card .user img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .isi {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    /*padding: 10px 20px 20px;*/
}

.card .isi .main {
    height: 146px;
    padding: 10px 20px;
}

.card .back .isi .main {
    height: 146px;
    padding: 10px 20px;
}

.pemesan{
    margin-top: 10px;
}

.card .name {
    font-family: 'Arima Madurai', cursive;
    font-size: 22px;
    line-height: 28px;
    border-bottom: 1px solid #EEEEEE;
    /*margin: 10px 0 0;*/
    text-align: center;
    text-transform: capitalize;
}

.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.card .profession {
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    /*margin: 30px 0 0;*/
    padding: 10px 0 0;
    text-align: center;
}

.card .footer .social-links {
    font-size: 18px;
}

.card .footer .social-links a {
    margin: 0 7px;
}

.card .footer .btn-simple {
    margin-top: -6px;
}

.card .header {
    padding: 20px 25px 5px;
}

.card .motto {
    font-family: 'Arima Madurai', cursive;
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container {
    width: 100%;
    margin-top: 50px;
}

.card .stats {
    display: block;
    float: left;
    width: 33.333333%;
    text-align: center;
}

.card .stats:first-child {
    border-right: 1px solid #EEEEEE;
}

.card .stats:last-child {
    border-left: 1px solid #EEEEEE;
}

.card .stats h4 {
    font-family: 'Arima Madurai', cursive;
    font-weight: 300;
    margin-bottom: 5px;
}

.card .stats p {
    color: #777777;
}

/*      Just for presentation        */

.title {
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}

.title small {
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}

.space-30 {
    height: 30px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-200 {
    height: 200px;
    display: block;
}

.white-board {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}

.ct-heart {
    color: #F74933;
}

pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.atv, .str {
    color: #05AE0E;
}

.tag, .pln, .kwd {
    color: #3472F7;
}

.atn {
    color: #2C93FF;
}

.pln {
    color: #333;
}

.com {
    color: #999;
}

.btn-simple {
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}

.btn-simple i {
    font-size: 16px;
}

.navbar-brand-logo {
    padding: 0;
}

.navbar-brand-logo .logo {
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}

.navbar .navbar-brand-logo .brand {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}

.navbar-default .navbar-brand-logo .brand {
    color: #555;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
    }

    .front {
        z-index: 4;
    }

    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back {
        z-index: 5;
        visibility: visible;
    }
}

.caption {
    font-family: "verdana";
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    z-index: 2;
}

t2 {
    color: brown;
}

.item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.gambar {
    background-image: url("../img/capture.png");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: -1;
    height: 200px;
    width: 200px;
}

.gambar2 {
    background-image: url("../img/picture1.png");
    background-repeat: no-repeat;
    background-size: 400px auto;
    position: absolute;
    bottom: 10%;
    right: 30%;
    z-index: 0;
    animation-delay: 0.5s;
    height: 400px;
    width: 400px;
}

.gambar img {

}

.anim1 {
    animation-delay: 0.3s;
}

.anim2 {
    animation-delay: 0.4s;
}

.anim3 {
    animation-delay: 0.5s;
}

.carousel-control.right {
    background-image: none;
}

.carousel-indicators {
    color: black;
}

#my-carousel h5 {
    width: 200px;
}

.carousel-bot {
    text-align: center;
    font-weight: 14px;
}

.carousel-item.active h3 {
    animation: animate-carousel-title 1s normal forwards;
}

<<<<<<< HEAD
.status-aktif {
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0, 166, 90, 1);
    -moz-box-shadow: inset 0px 0px 25px 0px rgba(0, 166, 90, 1);
    box-shadow: inset 0px 0px 25px 0px rgba(0, 166, 90, 1);
=======
.status-aktif{
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,166,90,1);
    -moz-box-shadow: inset 0px 0px 25px 0px rgba(0,166,90,1);
    box-shadow: inset 0px 0px 25px 0px rgba(0,166,90,1);
>>>>>>> 3997fe518de49088837a3bbd7584169cc82f4a22
}