@charset "UTF-8";
/* ------------------------------------------------------------------------------

  Template Name: Premedi
  Description: Premedi - Creative HTML Template
  
  
1. Global 
    1.1 Body
    1.2 Buttons
    1.3 Typography
    1.4 Loader

2. Home page version 2
    2.1 Banner
    2.2 Section : Oppoinment Form
    2.3 Section : Our Department
    2.4 Section : Our Services
    2.5 Section : Recent Post

3. Global Sections
    3.1  Header
        3.1.1 skew Menu
        3.1.2 Normal Menu
    3.2  Section : Call to Action 
    3.3  Section : Home page Banner
    3.4  Section : Our Department
    3.5  Section : Our Services
    3.6  Section : Appoinment section
    3.7  Section : Our Specialist
    3.8  Section : Recent Post
    3.9  Section : Parents Feedback
    3.10 Section : Sub Page Banner
    3.11 Section : About Section
    3.12 Section : Fun Facts
    3.13 Section : Blog List
    3.14 Section : Side Bar Widgets   
    3.15 Section : Clients Logo  
    3.16 Section : Department Page Accordian   
    3.17 Section : Book Appoinment Form   
    3.18 Section : Single Blog    
    3.19 Section : Map   
    3.20 Section : Conatct Page Form   
    3.21 Section : Commen Form Group 
    3.22 Section : Modal Popover 
    3.23 Section : Footer 
    
4. About Page
    4.1 section : Parents Feedback

5. Department Page
    5.1 section : Our Department
    5.2 section : Department Accordian
    
6. Services Page
    6.1 section : Our Services
    6.2 section : Clients Logo

7. Blog Gird Page
    7.1 section : Recent Post 

8. Mediaquery


*/
/* button styles */
/*
 * --- Global Style Starts ----
 */
/*-------------------------------------------------------------------------------
  1. Global | 1.1 Body
  -------------------------------------------------------------------------------*/
  body {
    overflow: hidden;
    
  }
  body.loaded {
    /*overflow-x: hidden;
    overflow-y: scroll; */
    overflow: auto;
    
  }

  .float-none {
    float: none; 
    
  }

  ul {
    /*padding-left: 0px; */
    
  }
  ul li {
    list-style: none; 
    
  }

  a {
    text-decoration: none;  
  }
  a:hover {
    text-decoration: none;  
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;  
  }

/*-------------------------------------------------------------------------------
  1. Global | 1.2 Buttons
  -------------------------------------------------------------------------------*/
  .btn {
    /*/*font-family: 'Raleway', sans-serif;*/*/
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    color: #fffefe;
    border-radius: 6px;
    padding: 10px 25px 10px 25px;  
  }
  .btn.btn-default {
    background: #ed008c;
    border: 1px solid #ed008c;  
  }
  .btn.btn-default:hover, .btn.btn-default:focus {
    background: #702f8a;
    border: 1px solid #702f8a;
    color: #fff;  
  }
  .btn.btn-primary {
    background: #fff;
    border: 1px solid #fff;
    color: #606060;  
  }
  .btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #606060;
    border: 1px solid #606060;
    color: #fff;  
  }
  .btn.btn-secondary {
    background: #44424c;
    border: 1px solid #44424c;
    color: #fff;
    padding: 10px 15px 10px 15px;
    margin-right: 5px;
    margin-bottom: 5px;  
  }
  .btn.btn-secondary:hover, .btn.btn-secondary:focus {
    background: #3c3a46;
    border: 1px solid #3c3a46;  
  }

/*-------------------------------------------------------------------------------
  1. Global | 1.3 Typography
  -------------------------------------------------------------------------------*/
  .no-l-padding {
    padding-left: 0px;  
  }

  .no-r-padding {
    padding-right: 0px;  
  }

  .no-t-padding {
    padding-top: 0px;  
  }

  .no-b-padding {
    padding-bottom: 0px;  
  }

  .no-margin {
    margin: 0px;  
  }

  a {
    text-decoration: none;  
  }

  a:hover,
  a:focus {
    text-decoration: none;  
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /*/*font-family: 'Raleway', sans-serif;*/*/
    font-weight: 400;
    margin-top: 0px;  
  }

  h1 {
    font-size: 60px;
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 2px;
    color: #ffffff;  
  }
  h1.fun-facts-count {
    font-size: 40px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 20px;  
  }

  h2 {
    font-weight: 700;
    color: #702f8a;
    font-size: 30px;
    margin: 0px;  
  }

  h3 {
    font-size: 30px;
    /*line-height: 24px;*/
    color: #404040;  
  }
  h3.about-head {
    color: #702f8a;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 37px;  
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #404040;  
  }
  h4.post-head {
    font-size: 16px;
    font-weight: 600;
    color: #505050;
    margin-top: 0px;  
  }
  h4.department-tab {
    font-size: 20px;
    color: #505050;
    letter-spacing: 1px;
    margin-top: 33px;  
  }
  h4.subpage-head {
    font-size: 25px;
    color: #fff;
    font-weight: 600;  
  }
  h4.premedi-story {
    font-size: 20px;
    margin: 0px;  
  }
  h4.blog-list-head {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;  
  }

  h5 {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #fff;  
  }

  p {
    font-size: 14px;
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 400;
    line-height: 24px;
    color: #404040;
    margin-bottom: 0px;  
  }
  p.department-para {
    color: #606060;
    margin-bottom: 30px;  
  }

  .divider {
    position: relative;
    padding: 0px 60px;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;  
  }
  .divider span i {
    color: #939393;
    font-size: 20px;  
  }
  .divider span::before {
    content: '';
    height: 1px;
    background: #ccc;
    width: 140px;
    position: absolute;
    left: -95px;
    margin-top: 10px;  
  }
  .divider span::after {
    content: '';
    height: 1px;
    background: #ccc;
    width: 140px;
    position: absolute;
    right: -95px;
    display: inline-block;
    margin-top: 10px;  
  }

  .top-text {
    margin-top: 35px;
    margin-bottom: 25px;
    
  }

  .top-text p {
    color: #606060; 
    
  }

/*-------------------------------------------------------------------------------
  1. Global | 1.4 Loader
  -------------------------------------------------------------------------------*/
  .loader {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #fff;
    text-align: center;  
  }
  .loader .preview {
    padding: 120px 0;
    width: 100%;
    height: 800px;  
  }

/*
 * --- Pages - Home page version 2 ----
 */
/* -------------------------------------
2 Home page version 2 
---------------------------------------- */
/* --------------------
 2.1 Section - Banner
 ----------------------- */
 .home-v2 .home-page-banner .image-caption {
  padding-top: 243px;  
}
.home-v2 .home-page-banner .image-caption h1 {
  margin-bottom: 15px;  
}
.home-v2 .home-page-banner .image-caption p {
  color: #fff;
  margin-bottom: 35px;
  font-size: 16px;  
}

/* --------------------
 2.2 Section - Oppoinment Form
 ----------------------- */
 .home-v2 .appoinment-form {
  bottom: -180px;
  position: relative;
  margin-top: 0px;  
}
.home-v2 .appoinment-form .appoinment-form-fields {
  margin-top: 35px;
  display: inline-block;  
}
.home-v2 .appoinment-form .appoinment-form-fields .form-group .form-control::before {
  content: "\eb25";
  font-family: icofont;
  font-style: normal;
  font-weight: normal;  
}
.home-v2 .appoinment-form .appoinment-form-fields .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #404040;  
}
.home-v2 .appoinment-form .appoinment-form-fields .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #404040;  
}
.home-v2 .appoinment-form .appoinment-form-fields .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #404040;  
}
.home-v2 .appoinment-form .appoinment-form-fields .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #404040;  
}
.home-v2 .appoinment-form .appoinment-form-fields .form-group .btn {
  width: 100%;
  font-weight: 600;  
}

/* --------------------
 2.3 Section - Our Department
 ----------------------- */
 .home-v2 .our-department {
  padding-top: 254px;  
}

/* --------------------
 2.4 Section - Our Services
 ----------------------- */
 .home-v2 .our-services {
  padding-bottom: 45px;
  padding-top: 105px;  
}

/* --------------------
 2.5 Section - Recent Post
 ----------------------- */
 .home-v2 .recent-post {
  padding-bottom: 90px;  
}
.home-v2 .recent-post .recent-post-carousel .owl-nav {
  display: none;  
}

/* --------------------
 2.6 Section - Our Specialist
 ----------------------- */
 .home-v2 .our-specialist {
  padding: 104px 0px 110px;  
}

/* --------------------
 2.7 Section - Parents Feedback
 ----------------------- */
 .home-v2 .parents-feedback .layer {
  padding-top: 103px;  
}

/*
 * --- Global Sections - Header ----
 */
/* -------------------------------------
3 Global Sections - Header 
---------------------------------------- */
/* --------------------
3.1 Section - Header
----------------------- */
/* --------------------
3.1.1 Section - skew Menu
----------------------- */
.header .top-container {
  background: #fff;  
}
.header .top-container .top-search {
  background-color: #606060;
  padding: 10px 0;  
}
.header .top-container .top-search .input-group .input-group-addon {
  background-color: #7d7d7d;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;  
}
.header .top-container .top-search .input-group .form-control {
  font-size: 14px;
  /*font-family: 'Raleway', sans-serif;*/
  background-color: #7d7d7d;
  border: none;
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px;
  -o-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
  color: #fff;
  height: 40px;
  padding: 0 15px;  
}
.header .top-container .top-search .input-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;  
}
.header .top-container .top-search .input-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;  
}
.header .top-container .top-search .input-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;  
}
.header .top-container .top-search .input-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;  
}
.header .top-container .top-search .input-group .close-search {
  cursor: pointer;  
}
.header .top-container .top-menu {
  padding: 21px 0px;
  padding-bottom: 18px;  
}
.header .top-container .top-menu p {
  color: #606060;
  font-size: 15px;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 300;
  margin-top: 6px;  
}
.header .top-container .top-menu p span {
  font-weight: 400;
  color: #505050;
  margin-right: 5px;  
}
.header .top-container .top-menu .social-links {
  /*margin-top: 6px;  */
}
.header .top-container .top-menu .social-links a {
  /*font-size: 15px;*/
  /*color: #606060;  */
}
.header .top-container .top-menu .social-links a i {
  margin-right: 14px;  
}
.header .top-container .top-menu .social-links a i.icofont-social-pinterest {
  margin-right: 0px;  
}
.header .top-container .top-menu .social-links a:hover {
  color: #702f8a;  
}
.header .top-container .top-menu .call-now p a {
  /*color: #606060;  */
}
.header .top-container .top-menu .call-now p:hover a {
  color: #702f8a;  
}
.header .top-container .top-menu .email p a {
  /*color: #606060;  */
}
.header .top-container .top-menu .email p:hover a {
  color: #702f8a;  
}
.header .top-container .top-menu .btn.btn-default {
  padding: 7px 30px;  
}
.header .top-container .navbar-primary {
  /*min-height: 70px;*/
    /* --------------------
            3.1.2 Section - Normal Menu
            ----------------------- */  
          }
          .header .top-container .navbar-primary .sticky_navigation {
            width: 100%;
            background: #fff;
            z-index: 20;
            -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);  
          }
          .header .top-container .navbar-primary .sticky_navigation .site-logo-part {
            background: #fff;  
          }
          .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header {
            padding: 17px 0px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .logo-image a span {
            /*font-family: 'Raleway', sans-serif;*/
            font-weight: 700;
            font-size: 25px;
            color: #702f8a;
            letter-spacing: 2px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .navbar-toggle {
            border: 1px solid #702f8a;
            background: tranparent;
            margin-bottom: 0px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .navbar-toggle .icon-bar {
            background: #702f8a;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part {
            background: #702f8a;
            -moz-transform: skewX(-45deg);
            -ms-transform: skewX(-45deg);
            -webkit-transform: skewX(-45deg);
            transform: skewX(-45deg);  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav {
            -moz-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
            -webkit-transform: skewX(45deg);
            transform: skewX(45deg);  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li {
            margin-right: 5px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li a {
            padding: 25px 25px;
            background: transparent;
            color: #fff;
            /*font-family: 'Raleway', sans-serif;*/
            font-weight: 400;
            font-size: 15px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li:hover a,
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.active a {
            border-bottom: 2px solid #fff;
            padding-bottom: 23px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open > a {
            background: transparent;
            border-bottom: 0px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu {
            -webkit-transition: all 500ms ease 0s;
            -o-transition: all 500ms ease 0s;
            transition: all 500ms ease 0s;
            border: none;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li {
            text-align: center;
            margin-right: 0px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li a {
            padding: 10px 10px 10px 10px;
            color: #44424c;
            border-bottom: none;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li:hover > a, .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.active > a {
            color: #702f8a;
            border: none;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a span {
            display: none;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a::after {
            border-color: transparent transparent transparent #333;
            border-left-color: #333333;
            border-left-color: #333333;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            content: " ";
            display: block;
            float: right;
            height: 0;
            margin-right: 8px;
            margin-top: -16px;
            width: 0;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a:hover::after {
            border-left-color: #702f8a;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown:hover .dropdown-menu {
            display: block;
            left: 163px;
            top: 6px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .menu-part::after {
            content: '';
            display: inline-block;
            background: #702f8a;
            width: 100%;
            height: 100%;
            right: -810px;
            position: absolute;
            top: 0;  
          }
          .header .top-container .navbar-primary .sticky_navigation .search-part {
            background: #702f8a;  
          }
          .header .top-container .navbar-primary .sticky_navigation .search-part .menu-search {
            padding: 24px 31px;
            text-align: right;
            padding-right: 0px;  
          }
          .header .top-container .navbar-primary .sticky_navigation .search-part .menu-search i {
            color: #fff;
            font-size: 18px;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation {
            background: #702f8a;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part {
            width: 35%;
            background: #702f8a;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .logo-image a span {
            color: #fff;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            width: 55%;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li a {
            padding: 25px 15px;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation .search-part {
            width: 10%;  
          }
          .header .top-container .navbar-primary.standard-menu .sticky_navigation .search-part .menu-search {
            text-align: left;
            padding-left: 0px;  
          }

/*
 * --- Global Sections - CTA ----
 */
/* -------------------------------------
3 Global Sections - Call to Action 
---------------------------------------- */
/* --------------------
3.2 Section - Call to Action
----------------------- */
.cta {
  padding: 57px 0px 60px;
  background: #702f8a;  
}
.cta .cta-text {
  text-align: center;  
}
.cta .cta-text h3 {
  font-weight: 700;
  color: #fff;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 15px;  
}
.cta .cta-text p {
  color: #fff;
  margin-bottom: 37px;  
}
.cta .cta-text .btn-primary:hover {
  color: #fff;  
}

/*
 * --- Global Sections - Banner ----
 */
/* -------------------------------------
3 Global Sections - Home page Banner 
---------------------------------------- */
/* --------------------
3.3 Section - Home page Banner
----------------------- */
.home-page-banner img {
  position: absolute;
  width: 100%;  
}

.home-page-banner .image-caption {
  position: relative;
  margin: 0 auto;
  padding: 100px 0px;
  padding-top: 100px;
  padding-top: 240px;  
}
.home-page-banner .image-caption h1 {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;  
}
.home-page-banner .image-caption h1 span {
  color: #702f8a;  
}
.home-page-banner .image-caption .btn-primary {
  margin-right: 16px;  
}
.home-page-banner .image-caption p {
  color: #fff;  
}
.home-page-banner .image-caption .search-form {
  display: inline-block;
  background: #606060;
  padding-top: 32px;
  padding-left: 70px;
  padding-bottom: 8px;
  padding-right: 40px;
  margin-top: 136px;
  min-width: 730px;  
}
.home-page-banner .image-caption .search-form .search-bar {
  max-width: 214px;
  margin-right: 40px;
  margin-bottom: 0px;  
}
.home-page-banner .image-caption .search-form .input-group .form-control {
  background: #7d7d7d;
  border: 1px solid #7d7d7d;
  height: 40px;
  font-size: 15px;
  /*font-family: 'Raleway', sans-serif;*/  
}
.home-page-banner .image-caption .search-form .input-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1;  
}
.home-page-banner .image-caption .search-form .input-group .input-group-addon {
  background: #7d7d7d;
  border: 1px solid #7d7d7d;
  z-index: 2;
  height: 40px;
  right: -5px;  
}
.home-page-banner .image-caption .search-form .input-group .input-group-addon i {
  color: #fff;
  font-size: 15px;  
}
.home-page-banner .image-caption .search-form .input-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;  
}
.home-page-banner .image-caption .search-form .input-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;  
}
.home-page-banner .image-caption .search-form .input-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;  
}
.home-page-banner .image-caption .search-form .input-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;  
}
.home-page-banner .image-caption .search-form .input-group .help-block {
  color: #ed7472;  
}
.home-page-banner .image-caption .search-form .btn-default {
  padding: 8px 31px;  
}

/*
 * --- Global Sections - Our Department ----
 */
/* -------------------------------------
3 Global Sections - Our Department 
---------------------------------------- */
/* --------------------
3.4 Section - Our Department
----------------------- */
.our-department {
  padding: 102px 0px 110px;  
}
.our-department .nav-pills li {
  background: #f4f4f4;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 500;
  margin-top: 1px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;  
}
.our-department .nav-pills li a {
  color: #505050;
  font-size: 18px;
  padding: 20px 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  text-transform: uppercase;  
}
.our-department .nav-pills li a i {
  font-size: 20px;
  color: #505050;
  margin-right: 20px;  
}
.our-department .nav-pills li a:hover, .our-department .nav-pills li a:focus {
  background: #702f8a;
  color: #fff;  
}
.our-department .nav-pills li a:hover i, .our-department .nav-pills li a:focus i {
  color: #fff;  
}
.our-department .nav-pills li.active {
  -webkit-box-shadow: none;
  box-shadow: none;  
}
.our-department .nav-pills li.active a {
  background: #702f8a;
  color: #fff;  
}
.our-department .nav-pills li.active a i {
  color: #fff;  
}
.our-department .nav-pills li:hover:after, .our-department .nav-pills li:hover:before, .our-department .nav-pills li.active:after, .our-department .nav-pills li.active:before {
  left: 100%;
  top: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;  
}
.our-department .nav-pills li:hover:after, .our-department .nav-pills li.active:after {
  border-left-color: #702f8a;
  border-width: 13px;  
}
.our-department .nav-pills li:hover:before, .our-department .nav-pills li.active:before {
  border-left-color: #702f8a;
  border-width: 13px;  
}
.our-department .horizantal-tab.nav-pills {
  margin-bottom: 70px;
  padding-left: 15px;  
}
.our-department .horizantal-tab.nav-pills li {
  float: left;
  margin-right: 30px;
  background: transparent;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-width: 165px;
  text-align: center;  
}
.our-department .horizantal-tab.nav-pills li a {
  border-radius: 5px;
  text-transform: capitalize;
  padding: 27px 25px;  
}
.our-department .horizantal-tab.nav-pills li a i {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 0px;  
}
.our-department .horizantal-tab.nav-pills li a:hover::before {
  position: absolute;
  top: 87px;
  left: 75px;
  color: #702f8a;
  font-size: 30px;  
}
.our-department .horizantal-tab.nav-pills li:last-child {
  margin-right: 0px;  
}
.our-department .horizantal-tab.nav-pills li.active {
  -webkit-box-shadow: none;
  box-shadow: none;  
}
.our-department .horizantal-tab.nav-pills li.active a::before {
  content: "♦";
  position: absolute;
  top: 87px;
  left: 75px;
  color: #702f8a;
  font-size: 30px;  
}
.our-department .horizantal-tab.nav-pills li:after, .our-department .horizantal-tab.nav-pills li:before {
  display: none;  
}
.our-department .horizantal-tab.nav-pills li:hover a::before {
  content: "♦";
  position: absolute;
  top: 87px;
  left: 75px;
  color: #702f8a;
  font-size: 30px;  
}
.our-department .tab-content .tab-pane {
  -webkit-transition: opacity linear 0.1s;
  -moz-transition: opacity linear 0.1s;
  -o-transition: opacity linear 0.1s;
  -ms-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;  
}
.our-department .tab-content .tab-pane .tab-image {
  overflow: hidden;  
}
.our-department .tab-content .tab-pane .tab-image img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}
.our-department .tab-content .tab-pane .tab-image img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);  
}
.our-department .tab-content .tab-pane ul li {
  padding-bottom: 20px;
  vertical-align: middle;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 15px;
  color: #505050;  
}
.our-department .tab-content .tab-pane ul li i {
  font-size: 15px;
  color: #702f8a;
  margin-right: 15px;
  vertical-align: middle;  
}
.our-department .tab-content .tab-pane .btn-default {
  padding: 11px 22px 11px 23px;  
}
.our-department .tab-content .tab-pane.active {
  -webkit-transition: opacity ease-out 0.2s 0.1s;
  -moz-transition: opacity ease-out 0.2s 0.1s;
  -o-transition: opacity ease-out 0.2s 0.1s;
  -ms-transition: opacity ease-out 0.2s 0.1s;
  transition: opacity ease-out 0.2s 0.1s;  
}

/*
 * --- Global Sections - Our Sevices ----
 */
/* -------------------------------------
3 Global Sections - Our Services 
---------------------------------------- */
/* --------------------
3.5 Section - Our Services
----------------------- */
.our-services {
  padding: 104px 0px 47px;
  background: #f4f4f4;  
}
.our-services .top-text h2 {
  margin-bottom: 3px;  
}
.our-services .services-box {
  background: #fff;
  padding: 15px 15px 30px 15px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);  
}
.our-services .services-box i {
  font-size: 25px;
  border: 1px solid #702f8a;
  display: inline-block;
  padding: 25px;
  border-radius: 16px;
  margin-bottom: 21px;  
}
.our-services .services-box h4 {
  color: #505050;
  margin-bottom: 13px;  
}
.our-services .services-box p {
  color: #606060;
  line-height: 22px;  
}
.our-services .services-box:hover {
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;  
}
.our-services .services-box:hover i {
  background: #702f8a;
  color: #fff;  
}
.our-services .services-box:hover h4 {
  color: #702f8a;  
}

/*
 * --- Global Sections - Appoinment Form ----
 */
/* -------------------------------------
3 Global Sections - Appoinment section 
---------------------------------------- */
/* --------------------
3.6 Section - Appoinment section
----------------------- */
.appoinment {
  padding: 84px 0px 70px;
  background: url("../images/appoinment-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;  
}
.appoinment img {
  position: absolute;
  top: -180px;  
}

/*
 * --- Global Sections - Our Specialist ----
 */
/* -------------------------------------
3 Global Sections - Our Specialist
---------------------------------------- */
/* --------------------
3.7 Section - Our Specialist
----------------------- */
.our-specialist {
  padding: 33px 0px 110px;  
}
.our-specialist .top-text {
  margin-bottom: 53px;  
}
.our-specialist .our-specialist-carousel .owl-item > div {
  padding-top: 10px;
  padding-bottom: 10px;  
}
.our-specialist .our-specialist-carousel .item {
  display: inline-block;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);  
}
.our-specialist .our-specialist-carousel .item .item-holder {
  padding-bottom: 145px;
  position: relative;
  z-index: 1;
  overflow: hidden;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder {
  overflow: hidden;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder img {
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder {
  height: 150px;
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 30px 0px 30px;
  color: #1f1f1f;
  text-align: center;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #702f8a !important;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
  left: 0;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info {
  position: relative;
  margin-bottom: 15px;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info p {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 500;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info .depart {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 300;
  display: block;
  margin-bottom: 20px;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info .doctor-name {
  margin-bottom: 22px;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info .doctor-name::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 148px;
  width: 15%;
  height: 1px;
  top: 30px;
  background: #999;
  right: 0;  
}
.our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-contact-info {
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info .doctor-name {
  color: #fff;  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info .doctor-name::before {
  background: #fff;  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info p {
  color: #fff;  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info .depart {
  color: #fff;  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover .item-data-holder {
  height: 186px;
  color: #fff;  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-contact-info {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;  
}
.our-specialist .our-specialist-carousel .item .item-holder:hover .item-data-holder::before {
  height: 100%;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  background: #702f8a !important;  
}
.our-specialist .our-specialist-carousel .owl-nav,
.our-specialist .our-specialist-carousel .owl-dot {
  display: none;  
}
.our-specialist .customNavigation {
  text-align: center;
  margin-top: 37px;  
}
.our-specialist .customNavigation .customPrevBtn,
.our-specialist .customNavigation .customNextBtn {
  background: #404040;
  padding: 5px 20px;
  font-size: 25px;  
}
.our-specialist .customNavigation .customPrevBtn:hover,
.our-specialist .customNavigation .customNextBtn:hover {
  background: #702f8a;
  color: #fff;  
}
.our-specialist .customNavigation .customPrevBtn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 7px;  
}
.our-specialist .customNavigation .customNextBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 7px;  
}
.our-specialist .customNavigation .btn-default {
  border-radius: 0px;
  padding-top: 12px;  
}

/*
 * --- Global Sections - Our Specialist ----
 */
/* -------------------------------------
3 Global Sections - Recent Post
---------------------------------------- */
/* --------------------
3.8 Section - Recent Post
----------------------- */
.recent-post {
  padding: 105px 0px 81px;
  background: #f4f4f4;  
}
.recent-post .recent-post-carousel.owl-theme .item {
  position: relative;
  bottom: 10px;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area {
  background: #fff;
  -webkit-box-shadow: 4px 5px 2px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 5px 2px -5px rgba(0, 0, 0, 0.2);  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder {
  overflow: hidden;
  float: left;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder img {
  width: auto;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details {
  padding: 19px 20px 19px 20px;
  display: table-cell;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-head a {
  color: #505050;
  font-size: 16px;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-head:hover a {
  color: #702f8a;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details span {
  display: inline-block;
  margin-bottom: 20px;
  color: #5f5f5f;
  /*font-family: 'Raleway', sans-serif;*/  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details span .comments {
  margin-left: 20px;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details p {
  margin-bottom: 30px;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .read-more {
  /*font-family: 'Raleway', sans-serif;*/
  color: #606060;
  font-size: 14px;
  font-weight: 500;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .read-more i {
  font-size: 20px;
  color: #606060;
  vertical-align: middle;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .read-more:hover h4 {
  color: #702f8a;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area:hover {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area:hover .image-holder img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area:hover .read-more {
  color: #702f8a;  
}
.recent-post .recent-post-carousel.owl-theme .item .post-area:hover .read-more i {
  color: #702f8a;  
}
.recent-post .recent-post-carousel.owl-theme .owl-dots {
  display: block;
  margin-top: 45px;  
}
.recent-post .recent-post-carousel.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 7px;
  margin: 5px 2px;
  background: #702f8a;  
}
.recent-post .recent-post-carousel.owl-theme .owl-dots .owl-dot.active span {
  width: 14px;  
}
.recent-post .normal-post .item {
  margin-bottom: 30px;  
}
.recent-post .normal-post .item .post-area {
  -webkit-box-shadow: 5px 5px 2px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 2px -5px rgba(0, 0, 0, 0.2);
  background: #fff;  
}
.recent-post .normal-post .item .post-area .image-holder {
  overflow: hidden;
  float: left;  
}
.recent-post .normal-post .item .post-area .image-holder img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}
.recent-post .normal-post .item .post-area .post-details {
  padding: 19px 20px 19px 20px;
  display: table-cell;  
}
.recent-post .normal-post .item .post-area .post-details .post-head a {
  color: #505050;
  font-size: 16px;  
}
.recent-post .normal-post .item .post-area .post-details .post-head:hover a {
  color: #702f8a;  
}
.recent-post .normal-post .item .post-area .post-details span {
  display: inline-block;
  margin-bottom: 20px;
  color: #5f5f5f;
  /*font-family: 'Raleway', sans-serif;*/  
}
.recent-post .normal-post .item .post-area .post-details span .comments {
  margin-left: 20px;  
}
.recent-post .normal-post .item .post-area .post-details p {
  margin-bottom: 30px;  
}
.recent-post .normal-post .item .post-area .post-details .read-more {
  /*font-family: 'Raleway', sans-serif;*/
  color: #606060;
  font-size: 14px;
  font-weight: 500;  
}
.recent-post .normal-post .item .post-area .post-details .read-more i {
  font-size: 20px;
  color: #606060;
  vertical-align: middle;  
}
.recent-post .normal-post .item .post-area:hover {
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;  
}
.recent-post .normal-post .item .post-area:hover .image-holder img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);  
}
.recent-post .normal-post .item .post-area:hover .read-more {
  color: #702f8a;  
}
.recent-post .normal-post .item .post-area:hover .read-more i {
  color: #702f8a;  
}
.recent-post .normal-post .owl-dots {
  display: none;  
}
.recent-post .btn-default {
  display: none;  
}

/*
 * --- Global Sections - Parents Feedback ----
 */
/* -------------------------------------
3 Global Sections - Parents Feedback
---------------------------------------- */
/* --------------------
3.9 Section - Parents Feedback
----------------------- */
.parents-feedback {
  background: url("../images/feedback-bg.jpg");
  background-repeat: repeat;
  background-size: auto auto;  
}
.parents-feedback .layer {
  background-color: rgba(6, 178, 182, 0.9);
  padding: 100px 0px 130px;  
}
.parents-feedback .layer .top-text {
  margin-bottom: 57px;  
}
.parents-feedback .layer .top-text h2,
.parents-feedback .layer .top-text p {
  color: #fff;  
}
.parents-feedback .layer .top-text .divider span::before, .parents-feedback .layer .top-text .divider span::after {
  background: #dddddd;  
}
.parents-feedback .layer .top-text .divider span i {
  color: #dddddd;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .item img {
  width: auto;
  display: inline-block;
  border-radius: 100%;
  border: 3px solid #fff;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .item span {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  display: block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .item i {
  display: none;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .item p {
  margin-bottom: 28px;
  color: #fff;
  max-width: 800px;
  display: inline-block;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .item h4 {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 500px;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots {
  display: block;
  margin-top: 45px;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 7px;
  margin: 5px 2px;
  background: #fff;  
}
.parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots .owl-dot.active span {
  width: 14px;  
}
.parents-feedback .layer .normal-feedback .item {
  display: inline-block;
  background: #fff;
  padding: 25px;
  padding-bottom: 50px;  
}
.parents-feedback .layer .normal-feedback .item img {
  position: absolute;
  left: 150px;
  border-radius: 100%;
  width: 70px;
  border: 3px solid #fff;  
}
.parents-feedback .layer .normal-feedback .item span {
  display: block;
  color: #606060;
  margin-bottom: 10px;  
}
.parents-feedback .layer .normal-feedback .item i {
  font-size: 30px;
  color: #ccc;
  margin-bottom: 20px;
  display: inline-block;  
}
.parents-feedback .layer .normal-feedback .item p {
  margin-bottom: 25px;  
}
.parents-feedback .layer .normal-feedback .item h4 {
  margin: 0px;
  color: #606060;
  font-size: 15px;  
}
.parents-feedback .layer .normal-feedback .owl-dots {
  display: none;  
}

/*
 * --- Global Sections - Sub Page Banner ----
 */
/* -------------------------------------
3 Global Sections - Sub Page Banner
---------------------------------------- */
/* --------------------
3.10 Section - Sub Page Banner
----------------------- */
.sub-page-banner {
  background: url("../images/home-v1.png");
  background-repeat: repeat;
  background-size: 100% auto;  
}
.sub-page-banner .layer {
  padding-top: 121px;
  padding-bottom: 118px;
  background-color: rgba(50, 50, 50, 0.3);  
}
.sub-page-banner .layer .subpage-banner-text h5 {
  margin-bottom: 0px;  
}
.sub-page-banner .layer .subpage-banner-text h5 a {
  color: #fff;  
}
.sub-page-banner .layer .subpage-banner-text h5 a:hover {
  color: #702f8a;  
}
.sub-page-banner .layer .subpage-banner-text h5 i {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  vertical-align: middle;  
}

/*
 * --- Global Sections - About ----
 */
/* -------------------------------------
3 Global Sections - About Section
---------------------------------------- */
/* --------------------
3.11 Section - About Section
----------------------- */
.about {
  padding: 107px 0px 0px;  
}
.about .about-premedi {
  padding: 28px 0px 100px;  
}
.about .about-premedi p {
  color: #606060;
  margin-bottom: 36px;  
}
.about .about-premedi .premedi-story {
  color: #505050;
  margin-top: 37px;
  margin-left: 0px;  
}
.about .about-premedi .premedi-story i {
  margin-right: 15px;  
}
.about .about-premedi h4 {
  margin-top: 56px;
  margin-left: 16px;  
}
.about .about-premedi ul li {
  float: left;
  width: 100%;
  border-bottom: 1px dashed #dddddd;
  padding-bottom: 13px;
  padding-top: 20px;
  font-size: 15px;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;  
}

/*
 * --- Global Sections - Fun Facts ----
 */
/* -------------------------------------
3 Global Sections - Fun Facts
---------------------------------------- */
/* --------------------
3.12 Section - Fun Facts
----------------------- */
.fun-facts {
  background: url("../images/home-v1-tab.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;  
}
.fun-facts .layer {
  background-color: rgba(6, 178, 182, 0.8);
  padding: 102px 0px;  
}
.fun-facts .layer .fun-facts-box i {
  color: #fff;
  font-size: 35px;
  display: block;
  margin-bottom: 35px;  
}
.fun-facts .layer .fun-facts-box p {
  color: #fff;
  font-size: 18px;  
}

/*
 * --- Global Sections - Blog List ----
 */
/* -------------------------------------
3 Global Sections - Blog List
---------------------------------------- */
/* --------------------
3.13 Section - Blog List
----------------------- */
.blog-list {
  padding: 110px 0px;  
}
.blog-list .blog-list-details {
  margin-bottom: 100px;  
}
.blog-list .blog-list-details .blog-list-description h4 a {
  color: #505050;  
}
.blog-list .blog-list-details .blog-list-description h4 a:hover {
  color: #702f8a;  
}
.blog-list .blog-list-details .blog-list-description span {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  display: inline-block;  
}
.blog-list .blog-list-details .blog-list-description span a {
  color: #606060;
  margin-right: 10px;  
}
.blog-list .blog-list-details .blog-list-description span a i {
  font-size: 15px;
  color: #505050;
  margin-right: 5px;  
}
.blog-list .blog-list-details .blog-list-description span a:hover {
  color: #702f8a;  
}
.blog-list .blog-list-details .blog-list-description span a:hover i {
  color: #702f8a;  
}
.blog-list .blog-list-details .blog-list-description p {
  font-size: 15px;
  color: #606060;  
}
.blog-list .blog-list-details .blog-list-description .btn {
  margin-top: 30px;  
}
.blog-list .post-nav .customNextBtn {
  background: #404040;
  padding: 5px 15px 5px 15px;  
}
.blog-list .post-nav .customNextBtn:hover, .blog-list .post-nav .customNextBtn.active {
  background: #702f8a;
  color: #fff;  
}
.blog-list .post-nav .btn.btn-default {
  padding: 5px 15px 5px 15px;  
}

/*
 * --- Global Sections - Side Bar Widgets ----
 */
/* -------------------------------------
3 Global Sections - Side Bar Widgets
---------------------------------------- */
/* --------------------
3.14 Section - Side Bar Widgets
----------------------- */
.sidebar h4 {
  margin-bottom: 34px;
  font-weight: 600;
  color: #505050;  
}

.sidebar ul li {
  padding-bottom: 15px;  
}
.sidebar ul li a {
  font-size: 15px;
  color: #555555;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;  
}
.sidebar ul li a i {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
  color: #555555;  
}
.sidebar ul li a:hover {
  color: #702f8a;
  margin-left: 10px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;  
}
.sidebar ul li a:hover i {
  color: #702f8a;  
}

.sidebar .search-bar .input-group .form-control {
  border: 1px solid #bbbbbb;
  height: 45px;  
}
.sidebar .search-bar .input-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #702f8a;  
}

.sidebar .search-bar .input-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  color: #606060;
  font-size: 15px;  
}

.sidebar .search-bar .input-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  color: #606060;
  font-size: 15px;  
}

.sidebar .search-bar .input-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  color: #606060;
  font-size: 15px;  
}

.sidebar .search-bar .input-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  color: #606060;
  font-size: 15px;  
}

.sidebar .search-bar .input-group .input-group-btn .btn-search {
  padding: 11px 15px;
  background: #702f8a;  
}
.sidebar .search-bar .input-group .input-group-btn .btn-search i {
  font-size: 18px;  
}
.sidebar .search-bar .input-group .input-group-btn .btn-search:hover i {
  color: #fff;  
}

.sidebar .category-widget {
  margin-top: 65px;  
}

.sidebar .recent-post-widget {
  margin-top: 35px;  
}
.sidebar .recent-post-widget .recent-post-list {
  padding-bottom: 25px;  
}
.sidebar .recent-post-widget .recent-post-list figure {
  overflow: hidden;  
}
.sidebar .recent-post-widget .recent-post-list figure img {
  margin-right: 20px;
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;  
}
.sidebar .recent-post-widget .recent-post-list h5 {
  margin-bottom: 0px;  
}
.sidebar .recent-post-widget .recent-post-list h5 a {
  font-weight: 500;
  color: #555555;  
}
.sidebar .recent-post-widget .recent-post-list span a {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 300;
  font-size: 14px;
  color: #606060;  
}
.sidebar .recent-post-widget .recent-post-list:hover a {
  color: #702f8a;  
}
.sidebar .recent-post-widget .recent-post-list:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);  
}

.sidebar .archives-widget {
  margin-top: 42px;  
}

.sidebar .tags-widget {
  margin-top: 38px;  
}

/*
 * --- Global Sections - Clients Logo ----
 */
/* -------------------------------------
3 Global Sections - Clients Logo
---------------------------------------- */
/* --------------------
3.15 Section - Clients Logo
----------------------- */
.clients-logo {
  padding: 110px 0px;  
}
.clients-logo .owl-dots {
  display: none;  
}

/*
 * --- Global Sections - Department Page Accordian ----
 */
/* -------------------------------------
3 Global Sections - Department Page Accordian
---------------------------------------- */
/* --------------------
3.16 Section - Department Page Accordian
----------------------- */
.department-accordian {
  padding-bottom: 85px;  
}
.department-accordian h3 {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;  
}
.department-accordian .appoinment-form {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  bottom: 0;  
}
.department-accordian .appoinment-form h3 {
  margin-left: 15px;  
}
.department-accordian .appoinment-form .appoinment-form-fields {
  margin-top: 0px;  
}
.department-accordian .faq-accordian .panel-group .panel-default {
  border: 0px;
  border-radius: 5px;
  margin-bottom: 23px;
  -webkit-box-shadow: none;
  box-shadow: none;  
}
.department-accordian .faq-accordian .panel-group .panel-default .panel-heading {
  padding: 10px 25px;
  border-radius: 5px;
  color: #404040;
  background-color: #dddddd;
  border-color: #dddddd;
  padding: 0px;  
}
.department-accordian .faq-accordian .panel-group .panel-default .panel-heading.active {
  color: #fff;
  background-color: #702f8a;
  border-color: #702f8a;  
}
.department-accordian .faq-accordian .panel-group .panel-default .panel-heading .panel-title a {
  display: block;
  padding: 10px 25px;  
}
.department-accordian .faq-accordian .panel-group .panel-default .panel-heading .panel-title a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f056";
  padding-right: 5px;  
}
.department-accordian .faq-accordian .panel-group .panel-default .panel-heading .panel-title a.collapsed:before {
  content: "\f055";  
}
.department-accordian .faq-accordian .panel-group .panel-default .panel-collapse .panel-body {
  padding: 10px 25px;
  border-top: 0px;
  background: none;
  padding-bottom: 0px;  
}

/*
 * --- Global Sections - Appoinment booking Form ----
 */
/* -------------------------------------
3 Global Sections - Book Appoinment Form
---------------------------------------- */
/* --------------------
3.17 Section - Book Appoinment Form
----------------------- */
.appoinment-form {
  background: #fff;
  padding: 53px 80px;
  padding-top: 75px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  margin-top: 88px;  
}
.appoinment-form .appoinment-form-fields {
  margin-top: 33px;
  display: inline-block;  
}
.appoinment-form .appoinment-form-fields .form-group .form-control {
  background: #dddddd;
  border: 1px solid #dddddd;
  font-size: 14px;
  /*font-family: 'Raleway', sans-serif;*/
  padding-left: 12px;  
}
.appoinment-form .appoinment-form-fields .form-group .form-control::before {
  content: "\eb25";
  font-family: icofont;
  font-style: normal;
  font-weight: normal;  
}
.appoinment-form .appoinment-form-fields .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #404040;  
}
.appoinment-form .appoinment-form-fields .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #404040;  
}
.appoinment-form .appoinment-form-fields .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #404040;  
}
.appoinment-form .appoinment-form-fields .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #404040;  
}
.appoinment-form .appoinment-form-fields .form-group .btn {
  width: 100%;
  font-weight: 600;  
}

.datepicker.dropdown-menu {
  /*font-family: 'Raleway', sans-serif;*/  
}

.datepicker table tr td.active.active {
  background-color: #702f8a;
  background-image: -moz-linear-gradient(top, #702f8a, #702f8a);  
}

/*
 * --- Global Sections - Single Blog ----
 */
/* -------------------------------------
3 Global Sections - Single Blog 
---------------------------------------- */
/* --------------------
3.18 Section - Single Blog 
----------------------- */
.single-blog {
  padding: 110px 0px;  
}
.single-blog .blog-list-details {
  margin-bottom: 0px;  
}
.single-blog .blog-list-details .blog-list-description h4 a {
  color: #505050;  
}
.single-blog .blog-list-details .blog-list-description h4 a:hover {
  color: #702f8a;  
}
.single-blog .blog-list-details .blog-list-description span {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  display: inline-block;  
}
.single-blog .blog-list-details .blog-list-description span a {
  color: #606060;
  margin-right: 10px;  
}
.single-blog .blog-list-details .blog-list-description span a i {
  font-size: 15px;
  color: #505050;
  margin-right: 5px;  
}
.single-blog .blog-list-details .blog-list-description span a:hover {
  color: #702f8a;  
}
.single-blog .blog-list-details .blog-list-description span a:hover i {
  color: #702f8a;  
}
.single-blog .blog-list-details .blog-list-description p {
  font-size: 15px;
  color: #606060;  
}
.single-blog .blog-list-details .blog-list-description .btn {
  margin-top: 30px;  
}
.single-blog .blog-list-details .blog-list-description .single-blog-para {
  margin-bottom: 70px;  
}
.single-blog .blog-list-details .blog-list-description .social-links {
  margin-bottom: 100px;  
}
.single-blog .blog-list-details .blog-list-description .social-links a i {
  font-size: 15px;
  color: #606060;
  padding: 5px 7px;
  border: 1px solid #702f8a;
  margin-right: 10px;
  border-radius: 5px;  
}
.single-blog .blog-list-details .blog-list-description .social-links a:hover i {
  background: #702f8a;
  color: #fff;  
}
.single-blog .comments {
  margin-bottom: 70px;  
}
.single-blog .comments h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #505050;  
}
.single-blog .comments ul li img {
  float: left;
  margin-right: 20px;
  border-radius: 5px;  
}
.single-blog .comments ul li .comments-details {
  padding-bottom: 30px;  
}
.single-blog .comments ul li .comments-details h4 {
  font-weight: 400;
  color: #404040;
  margin-bottom: 10px;  
}
.single-blog .comments ul li .comments-details h4 span {
  font-size: 14px;
  color: #606060;
  margin-left: 20px;  
}
.single-blog .comments ul li .comments-details p {
  color: #606060;
  margin-bottom: 10px;  
}
.single-blog .comments ul li .comments-details a {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  font-size: 15px;
  color: #606060;  
}
.single-blog .comments ul li .comments-details a:hover {
  color: #702f8a;  
}
.single-blog .comments ul li ul {
  padding-left: 40px;  
}
.single-blog .replay-form h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #505050;  
}
.single-blog .replay-form .replay-form-fields .form-group .form-control {
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 14px;  
}
.single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
  min-height: 133px;  
}

/*
 * --- Global Sections - Map ----
 */
/* -------------------------------------
3 Global Sections - Map 
---------------------------------------- */
/* --------------------
3.19 Section - Map 
----------------------- */
.map {
  padding-top: 110px;  
}

/*
 * --- Global Sections - Contact Page Form ----
 */
/* -------------------------------------
3 Global Sections - Conatct Page Form 
---------------------------------------- */
/* --------------------
3.20 Section - Conatct Page Form 
----------------------- */
.contact-page-form {
  padding-bottom: 54px;  
}
.contact-page-form .appoinment-form {
  bottom: 52px;
  display: inline-block;
  padding: 0px;
  position: relative;
  margin-top: 0px;  
}
.contact-page-form .appoinment-form .contact-form-fields {
  padding: 57px 40px;
  padding-bottom: 27px;
  padding-right: 20px;
  display: inline-block;  
}
.contact-page-form .appoinment-form .contact-form-fields .form-group .form-control.message-area {
  max-width: 676px;
  min-height: 140px;  
}
.contact-page-form .appoinment-form .contact-form-fields .form-group.textarea-formgroup {
  min-height: 162px;  
}
.contact-page-form .appoinment-form .address-details {
  padding: 57px 20px;
  padding-right: 60px;  
}
.contact-page-form .appoinment-form .address-details ul li {
  padding-bottom: 50px;  
}
.contact-page-form .appoinment-form .address-details ul li span {
  font-size: 16px;
  color: #606060;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 300;  
}
.contact-page-form .appoinment-form .address-details ul li span a {
  color: #505050;  
}
.contact-page-form .appoinment-form .address-details ul li span a:hover {
  color: #702f8a;  
}
.contact-page-form .appoinment-form .address-details ul li i {
  font-size: 25px;
  color: #505050;
  margin-right: 20px;
  vertical-align: middle;
  float: left;  
}

/*
 * --- Global Sections - Commen Form Group ----
 */
/* -------------------------------------
3 Global Sections - Commen Form Group
---------------------------------------- */
/* --------------------
3.21 Section - Commen Form Group
----------------------- */
.form-group {
  /*margin-bottom: 0px;
  min-height: 70px;  */
}
.form-group .form-control {
  /*background: transparent;*/
  border: 1px solid #c5c5c5;
  /*height: 45px;*/
  font-size: 15px;
  /*font-family: 'Raleway', sans-serif;*/
  letter-spacing: 1px;
  font-weight: 400;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 12px;
  padding-right: 0px;  
}
.form-group .form-control.message-area {
  height: auto;
  max-width: 850px;  
}
.form-group .form-control:focus {
  border: 1px solid #702f8a;  
}
.form-group .input-group-addon {
  background: #dddddd;
  border: 1px solid #dddddd;
  width: auto;
  position: absolute;
  top: 0;
  right: 14px;
  height: 45px;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  color: #5a5656;  
}
.form-group .input-group-addon i {
  vertical-align: middle;
  padding-top: 10px;  
}
.form-group.has-feedback .validate-right-icon .form-control-feedback {
  right: 40px;
  top: 5px;  
}
.form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #606060;  
}
.form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #606060;  
}
.form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #606060;  
}
.form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #606060;  
}
.form-group .btn {
  font-weight: 600;  
}

/*
 * --- Global Sections - Modal Popover ----
 */
/* -------------------------------------
3 Global Sections - Modal Popover
---------------------------------------- */
/* --------------------
3.22 Section - Modal Popover
----------------------- */
.premedi-popup .modal-dialog .modal-content .modal-body .appoinment-form-fields {
  padding: 20px;  
}
.premedi-popup .modal-dialog .modal-content .modal-body .appoinment-form-fields .form-group .input-group-addon {
  background: transparent;
  border: 0px solid #dddddd;  
}

/*
 * --- Global Sections - Footer ----
 */
/* -------------------------------------
3 Global Sections - Footer
---------------------------------------- */
/* --------------------
3.23 Section - Footer
----------------------- */
.footer {
  background: #505050;  
}
.footer .footer-widget {
  padding: 75px 0px;  
}
.footer .footer-widget h4 {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 600;
  color: #fff;
  margin-bottom: 38px;  
}
.footer .footer-widget .footer-about p {
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 600;
  font-size: 14px;
  color: #ddd;
  margin: 0px;
  padding-bottom: 40px;  
}
.footer .footer-widget .footer-about ul li {
  color: #ddd;
  padding-bottom: 15px;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  font-size: 14px;  
}
.footer .footer-widget .footer-about ul li i {
  color: #ddd;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;  
}
.footer .footer-widget .footer-about ul li a {
  color: #ddd;  
}
.footer .footer-widget .footer-about ul li a:hover {
  color: #702f8a;  
}
.footer .footer-widget .footer-nav-list ul li {
  padding-bottom: 15px;  
}
.footer .footer-widget .footer-nav-list ul li a {
  color: #ddd;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 400;  
}
.footer .footer-widget .footer-nav-list ul li a i {
  font-size: 18px;
  color: #ddd;
  margin-right: 10px;
  vertical-align: middle;  
}
.footer .footer-widget .footer-nav-list ul li a:hover {
  color: #702f8a;  
}
.footer .footer-widget .footer-nav-list ul li a:hover i {
  color: #702f8a;  
}
.footer .footer-widget .insta-widget figure {
  overflow: hidden;
  float: left;  
}
.footer .footer-widget .insta-widget figure a img {
  margin-bottom: 20px;
  margin-right: 20px;  
}
.footer .copyright-container {
  background: #404040;  
}
.footer .copyright-container p {
  color: #dddddd;
  padding: 29px 0px;  
}
.footer .copyright-container p i {
  font-size: 12px;  
}

/*
 * --- Pages - About Page ----
 */
/* -------------------------------------
4 About Page 
---------------------------------------- */
/* --------------------
4.1 Section - Parents Feedback
----------------------- */
.about-page .parents-feedback {
  background: url("../images/home-v2.png");
  background-repeat: repeat;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-size: 100% auto;  
}
.about-page .parents-feedback .layer {
  padding-bottom: 100px;  
}
.about-page .parents-feedback .layer .about-feedback-carousel .owl-nav {
  display: none;  
}

.about-page .our-specialist {
  padding-top: 100px;
  padding-bottom: 90px;  
}
.about-page .our-specialist .customNavigation {
  display: none;  
}

/*
 * --- Pages - Department page ----
 */
/* -------------------------------------
5 Department Page 
---------------------------------------- */
/* --------------------
5.1 Section - Our Department 
----------------------- */
.department-page .our-department {
  padding-top: 100px;
  padding-bottom: 77px;  
}

/* --------------------
5.2 Section - Department Accordian 
----------------------- */
.department-page .department-accordian .appoinment-form {
  bottom: 0;
  margin-top: 0px;  
}
.department-page .department-accordian .appoinment-form .appoinment-form-fields {
  margin-top: 0px;  
}

/*
 * --- Pages - Services page ----
 */
/* -------------------------------------
6 Services Page 
---------------------------------------- */
/* --------------------
6.1 Section - Our Services 
----------------------- */
.sevices-page .our-services {
  padding: 104px 0px 50px;
  background: #fff;  
}

/* --------------------
6.2 Section - Clients Logo
----------------------- */
.sevices-page .clients-logo .clients-logo-carousel .owl-nav {
  display: none;  
}

/*
 * --- Pages - Blog Gird page ----
 */
/* -------------------------------------
7 Blog Gird  Page 
---------------------------------------- */
/* --------------------
7.1 Section - recent Post 
----------------------- */
.blog-gird-page .recent-post {
  padding-bottom: 110px;
  background: #fff;  
}
.blog-gird-page .recent-post .top-text {
  display: none;  
}
.blog-gird-page .recent-post .normal-post .item {
  margin-bottom: 60px;  
}
.blog-gird-page .recent-post .btn-default {
  display: inline-block;  
}

/*
 * --- Mediaquery ----
 */
/*-------------------------------------------------------------------------------
 8. Mediaquery
 -------------------------------------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1199px) {
  .header .top-container .top-menu .social-links a i {
    margin-right: 10px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse .nav.navbar-nav li a {
    padding: 25px 15px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part::after {
    right: -629px;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation {
    background: #702f8a;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part {
    width: 20%;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part {
    width: 70%;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .search-part {
    width: 10%;  
  }
  .home-page-banner .image-caption {
    padding-top: 70px;  
  }
  .home-page-banner .image-caption .search-form {
    margin-top: 70px;  
  }
  .appoinment .appoinment-form {
    padding: 25px 40px;
    margin-top: 0px;  
  }
  .about .about-premedi {
    padding: 20px 0px 0px;  
  }
  .about .about-premedi .premedi-story {
    margin-top: 10px;  
  }
  .fun-facts .layer {
    padding: 39px 0px;  
  }
  .parents-feedback .layer {
    padding: 40px 0px;  
  }
  .parents-feedback .layer .top-text {
    margin-bottom: 17px;  
  }
  .our-department .horizantal-tab.nav-pills li {
    margin-right: 15px;
    min-width: 130px;  
  }
  .our-department .horizantal-tab.nav-pills li a.active {
    left: 63px;  
  }
  .our-department .horizantal-tab.nav-pills li:hover a:before {
    left: 63px;  
  }
  .recent-post .normal-post .item .post-area .post-details {
    padding: 26px 20px 27px 20px;  
  }
  .recent-post .normal-post .item .post-area .post-details .post-head a {
    font-size: 12px;  
  }
  .recent-post .normal-post .item .post-area .post-details .post-meta {
    margin-bottom: 0px;  
  }
  .recent-post .normal-post .item .post-area .post-details p {
    margin-bottom: 8px;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details {
    padding: 35px 20px 19px 20px;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-head a {
    font-size: 12px;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-meta {
    margin-bottom: 0px;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details p {
    margin-bottom: 8px;  
  }
  .our-services {
    padding-bottom: 7px;  
  }
  .our-services .services-box {
    padding: 23px 20px 31px 20px;
    min-height: 280px;  
  }
  .our-services .services-box h4 {
    font-size: 13px;  
  }
  .our-specialist {
    padding-top: 0px;  
  }
  .contact-page-form {
    padding-bottom: 145px;  
  }
  .contact-page-form .appoinment-form {
    bottom: -40px;  
  }
  .single-blog {
    padding: 50px 0px;  
  }
  .single-blog .replay-form .replay-form-fields .form-group {
    margin-bottom: 0px;  
  }
  .single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
    min-height: 123px;  
  }
  .about-page .parents-feedback .layer {
    padding: 40px 0px;  
  }
  .about-page .parents-feedback .layer .top-text {
    margin-bottom: 17px;  
  }
  .about-page .our-specialist {
    padding-top: 100px;  
  }
  .parents-feedback .layer {
    padding: 40px 0px 80px;  
  }
  .parents-feedback .layer .normal-feedback .item img {
    left: 130px;  
  }
  .home-v2 .home-page-banner .image-caption {
    padding-top: 100px;
    padding-bottom: 0px;  
  }
  .home-v2 .home-page-banner .appoinment-form {
    bottom: -120px;  
  }
  .home-v2 .our-specialist {
    padding-top: 100px;  
  }
  .home-v2 .our-department {
    padding-top: 334px;  
  }  
}

@media (min-width: 768px) and (max-width: 991px) {
  .loader .preview {
    height: 640px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .navbar-toggle {
    margin-right: 100px;
    margin-top: 0px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .logo-image {
    display: inline-block;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .search-part {
    background: transparent;
    position: absolute;
    top: 0px;
    right: 60px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .search-part .menu-search i {
    color: #702f8a;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background: none;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in {
    background: #fff;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li a {
    padding: 25px 15px;
    color: #44424c;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li:hover > a, .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.active > a {
    border-bottom: 2px solid #702f8a;
    color: #702f8a;
    padding-bottom: 23px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.dropdown.open .dropdown-menu li {
    text-align: left;
    margin-left: 20px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.dropdown.open .dropdown-menu li a {
    color: #44424c;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.dropdown.open .dropdown-menu li:hover > a, .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.dropdown.open .dropdown-menu li.active > a {
    border-bottom: 2px solid #702f8a;
    color: #702f8a;
    padding: 10px 10px 8px 10px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a span {
    display: block;
    margin-left: 92px;
    margin-top: -10px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a:after {
    display: none;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part::after {
    display: none;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation {
    background: #702f8a;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part {
    width: 100%;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .navbar-toggle {
    border: 1px solid #fff;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .navbar-toggle .icon-bar {
    background: #fff;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .search-part .menu-search {
    text-align: right;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .search-part .menu-search a i {
    color: #fff;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part {
    width: 100%;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse.collapse.in {
    background: #702f8a;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse.collapse.in li > a {
    color: #fff !important;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse.collapse.in li:hover > a {
    border-bottom: 2px solid #fff !important;  
  }
  .footer .footer-widget .footer-nav-list ul {
    margin-bottom: 0px;  
  }
  .home-page-banner .image-caption {
    padding-top: 60px;  
  }
  .home-page-banner .image-caption h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;  
  }
  .home-page-banner .image-caption .search-form {
    margin-top: 45px;
    min-width: 700px;  
  }
  .top-text {
    margin-bottom: 20px;  
  }
  .our-department {
    padding: 55px 0px;  
  }
  .our-department .nav.nav-pills li a {
    text-align: center;  
  }
  .our-department .nav.nav-pills li a i {
    margin-right: 0px;
    margin-bottom: 10px;
    display: block;  
  }
  .our-department .horizantal-tab.nav-pills {
    margin-bottom: 40px;  
  }
  .our-department .horizantal-tab.nav-pills li {
    margin-right: 13px;
    min-width: 108px;  
  }
  .our-department .horizantal-tab.nav-pills li a {
    font-size: 13px;
    padding: 27px 15px;  
  }
  .our-department .horizantal-tab.nav-pills li a:hover::before {
    top: 80px;
    left: 47px;  
  }
  .our-department .horizantal-tab.nav-pills li.active a::before {
    top: 80px;
    left: 46px;  
  }
  .appoinment {
    padding: 290px 0px 20px;  
  }
  .appoinment .appoinment-form {
    padding: 15px 40px;
    padding-top: 35px;
    margin-top: 0px;  
  }
  .our-specialist {
    padding: 50px 0px;  
  }
  .blog-list {
    padding: 50px 0px;  
  }
  .blog-list .post-nav {
    padding-top: 0px;  
  }
  .sidebar {
    padding-top: 50px;  
  }
  .recent-post {
    padding-bottom: 50px;
    padding-top: 50px;  
  }
  .recent-post .normal-post .item .post-area .image-holder {
    width: 100%;  
  }
  .recent-post .normal-post .item .post-area .image-holder img {
    width: 100%;  
  }
  .recent-post .normal-post .item .post-area .post-details {
    padding: 23px 20px 23px 20px;  
  }
  .recent-post .normal-post .item .post-area .post-details span {
    margin-bottom: 10px;  
  }
  .recent-post .normal-post .item .post-area .post-details span .comments {
    margin-bottom: 0px;  
  }
  .recent-post .normal-post .item .post-area .post-details .post-head a {
    font-size: 17px;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder {
    width: 100%;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder img {
    width: 100%;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details {
    padding: 23px 20px 23px 20px;  
  }
  .our-services {
    padding: 55px 0px 0px;  
  }
  .our-services .services-box {
    padding: 23px 20px 31px 20px;
    min-height: 280px;  
  }
  .our-services .services-box h4 {
    font-size: 14px;  
  }
  .department-accordian h3 {
    margin-bottom: 30px;  
  }
  .department-accordian .faq-accordian {
    margin-bottom: 50px;  
  }
  .about {
    padding-top: 55px;  
  }
  .about .about-premedi-response {
    padding-top: 200px;  
  }
  .about .about-premedi-response h4 {
    margin-left: 16px;  
  }
  .about .about-premedi-response ul li {
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 40px;
    padding-top: 15px;
    font-size: 15px;
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 400;  
  }
  .about .about-premedi {
    padding: 28px 0px 50px;  
  }
  .about .about-premedi .premedi-story {
    margin-top: 15px;  
  }
  .fun-facts {
    background-size: 100% 100%;  
  }
  .fun-facts .layer {
    padding: 30px 0px;  
  }
  .parents-feedback .layer .normal-feedback .item span {
    margin-bottom: 40px;  
  }
  .parents-feedback .layer .normal-feedback .item img {
    left: 340px;  
  }
  .form-group .form-control.message-area {
    max-width: 725px;  
  }
  .map {
    padding-top: 50px;  
  }
  .contact-page-form {
    padding-bottom: 95px;  
  }
  .contact-page-form .appoinment-form {
    bottom: -40px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields {
    padding: 50px 0px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields .no-r-padding {
    padding-left: 0px;
    padding-right: 15px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields .responsive-padding {
    padding-left: 0px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields .form-group {
    margin-bottom: 0px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields .form-group.textarea-formgroup {
    min-height: 123px;  
  }
  .contact-page-form .appoinment-form .address-details {
    padding-right: 20px;  
  }
  .cta {
    padding: 50px 0px;  
  }
  .clients-logo {
    padding: 50px 0px;  
  }
  .single-blog {
    padding: 50px 0px;  
  }
  .single-blog .replay-form .replay-form-fields .form-group {
    margin-bottom: 0px;  
  }
  .single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
    min-height: 123px;  
  }
  .home-v2 .home-page-banner .image-caption {
    padding-top: 60px;
    padding-bottom: 0px;  
  }
  .home-v2 .home-page-banner .image-caption .appoinment-form {
    bottom: 30px;
    position: relative;
    margin-top: 100px;
    padding: 15px 40px;
    padding-top: 15px;  
  }
  .home-v2 .parents-feedback .layer {
    padding: 50px 0px 20px;  
  }
  .home-v2 .parents-feedback .layer .normal-feedback .item {
    margin-bottom: 80px;  
  }
  .home-v2 .our-department {
    padding-top: 194px;  
  }
  .home-v2 .our-department .tab-content .tab-image {
    overflow: hidden;  
  }
  .home-v2 .our-department .tab-content .tab-image img {
    margin-top: 80px;  
  }
  .home-v2 .our-services {
    padding: 55px 0px 0px;  
  }
  .home-v2 .our-specialist {
    padding: 55px 0px;  
  }
  .home-v2 .recent-post {
    padding-bottom: 50px;  
  }
  .about-page .parents-feedback {
    background-size: 100% 100%;  
  }
  .about-page .parents-feedback .layer {
    padding-bottom: 50px;  
  }
  .about-page .parents-feedback .layer .top-text {
    margin-bottom: 20px;  
  }
  .about-page .our-specialist {
    padding-top: 50px;
    padding-bottom: 50px;  
  }
  .about-page .our-specialist .top-text {
    margin-bottom: 20px;  
  }
  .department-page .department-accordian .appoinment-form {
    padding-left: 15px;  
  }
  .department-page .department-accordian .appoinment-form h3 {
    margin-left: 0px;  
  }
  .department-page .our-department {
    padding: 55px 0px;  
  }
  .department-page .our-department .tab-content .tab-image {
    overflow: hidden;  
  }
  .department-page .our-department .tab-content .tab-image img {
    margin-top: 80px;  
  }
  .department-page .department-accordian {
    padding-bottom: 30px;  
  }
  .sevices-page .our-services {
    padding: 55px 0px 0px;  
  }
  .blog-gird-page .recent-post {
    padding-bottom: 50px;  
  }  
}

@media (min-width: 100px) and (max-width: 767px) {
  .loader .preview {
    height: 640px;  
  }
  .header .top-container .top-menu .social-links {
    text-align: center;  
  }
  .header .top-container .top-menu .call-now span {
    display: inline-block;  
  }
  .header .top-container .top-menu .book-appoinment {
    text-align: center;
    margin-top: 10px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .navbar-toggle {
    margin-right: 50px;
    margin-top: 0px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .logo-image {
    display: inline-block;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .search-part {
    background: transparent;
    position: absolute;
    top: 0px;
    right: 20px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .site-logo-part .navbar-header .search-part .menu-search i {
    color: #702f8a;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background: none;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in {
    background: #fff;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li a {
    /*padding: 25px 15px;*/
    padding: 10px;
    color: #44424c; 
    
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li:hover > a, .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li.active > a {
    border-bottom: 2px solid #702f8a;
    color: #702f8a;
    /*padding-bottom: 23px;*/
    
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li .dropdown-menu li {
    text-align: left;
    margin-left: 20px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li .dropdown-menu li a {
    color: #44424c;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li .dropdown-menu li:hover > a, .header .top-container .navbar-primary .sticky_navigation .menu-part .navbar-collapse.collapse.in .nav.navbar-nav li .dropdown-menu li.active > a {
    border-bottom: 2px solid #702f8a;
    color: #702f8a;
    padding: 10px 10px 8px 10px;  
  }
  .header .top-container .navbar-primary .sticky_navigation .menu-part::after {
    display: none;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation {
    background: #702f8a;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part {
    width: 100%;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .navbar-toggle {
    border: 1px solid #fff;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .navbar-toggle .icon-bar {
    background: #fff;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .search-part .menu-search {
    text-align: right;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .site-logo-part .navbar-header .search-part .menu-search a i {
    color: #fff;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part {
    width: 100%;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse.collapse.in {
    background: #702f8a;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse.collapse.in li > a {
    color: #fff !important;  
  }
  .header .top-container .navbar-primary.standard-menu .sticky_navigation .menu-part .navbar-collapse.collapse.in li:hover > a {
    border-bottom: 2px solid #fff !important;  
  }
  .home-page-banner .image-caption {
    padding-top: 70px;  
  }
  .home-page-banner .image-caption h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;  
  }
  .home-page-banner .image-caption .search-form {
    display: none;  
  }
  .appoinment {
    padding: 170px 0px 20px;  
  }
  .appoinment .appoinment-form {
    padding: 35px 20px;
    margin-top: 0px;  
  }
  .appoinment .appoinment-form .no-r-padding {
    padding-left: 0px;
    padding-right: 0px;  
  }
  .appoinment .appoinment-form .no-l-padding {
    padding-left: 0px;
    padding-right: 0px;  
  }
  .our-department {
    padding: 50px 0px;  
  }
  .our-department .nav.nav-pills {
    padding-left: 15px;
    padding-bottom: 20px;  
  }
  .our-department .nav.nav-pills li a {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;  
  }
  .our-department .nav.nav-pills li a i {
    margin-right: 0px;
    margin-bottom: 10px;
    display: block;  
  }
  .our-department .nav.nav-pills li:before, .our-department .nav.nav-pills li:after {
    display: none;  
  }
  .our-department .horizantal-tab.nav-pills {
    margin-bottom: 0px;  
  }
  .our-department .horizantal-tab.nav-pills li {
    margin-bottom: 20px;
    min-width: 320px;
    margin-right: 0px;  
  }
  .our-department .horizantal-tab.nav-pills li a i {
    margin-right: 10px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;  
  }
  .our-department .horizantal-tab.nav-pills li.active a::before, .our-department .horizantal-tab.nav-pills li:hover a::before {
    top: 42px;
    left: 155px;  
  }
  .our-department .tab-content {
    padding-left: 15px;
    padding-right: 15px;  
  }
  .our-department .tab-content img {
    margin-top: 20px;  
  }
  .divider span::before {
    width: 100px;
    left: -55px;  
  }
  .divider span::after {
    width: 100px;
    right: -55px;  
  }
  .sub-page-banner .layer {
    padding-top: 64px;
    padding-bottom: 57px;  
  }
  .about {
    padding: 50px 0px 50px;  
  }
  .about .about-premedi {
    padding: 0px 0px 50px;  
  }
  .about .about-premedi .premedi-story {
    margin-top: 0px;  
  }
  .about .about-premedi .table-responsive {
    border: 0px;  
  }
  .fun-facts {
    background: none;  
  }
  .fun-facts .layer {
    padding: 50px 0px 20px;  
  }
  .fun-facts .layer .fun-facts-box {
    margin-bottom: 30px;  
  }
  .our-specialist {
    padding: 50px 0px;  
  }
  .our-specialist .top-text {
    margin-bottom: 20px;  
  }
  .blog-list {
    padding: 50px 0px;  
  }
  .blog-list .blog-list-details {
    margin-bottom: 50px;  
  }
  .blog-list .post-nav {
    padding-top: 0px;  
  }
  .blog-list .post-nav a {
    margin-bottom: 20px;  
  }
  .blog-list .post-nav .btn-default {
    padding: 5px 9px 5px 9px;  
  }
  .top-text {
    margin-bottom: 20px;  
  }
  .sidebar {
    padding-top: 50px;  
  }
  .recent-post {
    padding-bottom: 20px;
    padding-top: 50px;  
  }
  .recent-post .normal-post .item .post-area .image-holder {
    width: 100%;  
  }
  .recent-post .normal-post .item .post-area .image-holder img {
    width: 100%;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder {
    width: 100%;  
  }
  .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder img {
    width: 100%;  
  }
  .our-services {
    padding: 50px 0px 0px;  
  }
  .our-services .services-box {
    padding: 43px 43px 43px 43px;
    margin-bottom: 30px;  
  }
  .cta .cta-text h3 {
    line-height: 30px;  
  }
  .single-blog {
    padding: 50px 0px;  
  }
  .single-blog .comments ul li img {
    margin-bottom: 20px;  
  }
  .single-blog .replay-form {
    display: inline-block;  
  }
  .single-blog .replay-form .replay-form-fields .form-group {
    margin-bottom: 0px;  
  }
  .single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
    min-height: 123px;  
  }
  .map {
    padding-top: 50px;  
  }
  .contact-page-form {
    padding-bottom: 95px;  
  }
  .contact-page-form .appoinment-form {
    bottom: -40px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields {
    padding: 40px 0px;
    padding-bottom: 20px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields .no-l-padding {
    padding-left: 15px;  
  }
  .contact-page-form .appoinment-form .contact-form-fields .form-group .btn-default {
    margin-left: 15px;  
  }
  .contact-page-form .appoinment-form .address-details {
    padding: 0px 15px;
    padding-right: 0px;  
  }
  .contact-page-form .appoinment-form .address-details ul li:last-child {
    padding-bottom: 20px;  
  }
  .clients-logo {
    padding: 50px 0px;  
  }
  .department-accordian {
    padding-bottom: 30px;  
  }
  .department-accordian h3 {
    margin-bottom: 20px;  
  }
  .department-accordian .faq-accordian {
    margin-bottom: 0px;  
  }
  .department-accordian .appoinment-form {
    padding: 15px 15px;
    padding-top: 25px;  
  }
  .department-accordian .appoinment-form .appoinment-form-fields .no-r-padding {
    padding-left: 0px;
    padding-right: 15px;  
  }
  .footer .footer-widget {
    padding: 50px 0px 30px;  
  }
  .footer .footer-widget .footer-nav-list ul {
    margin-bottom: 0px;  
  }
  .about-page .parents-feedback {
    background: none;  
  }
  .about-page .parents-feedback .layer {
    padding: 50px 0px;  
  }
  .about-page .parents-feedback .layer .top-text {
    margin-bottom: 20px;  
  }
  .about-page .parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots {
    margin-top: 15px;  
  }
  .about-page .our-specialist {
    padding-top: 50px;
    padding-bottom: 50px;  
  }
  .about-page .our-specialist .top-text {
    margin-bottom: 20px;  
  }
  .home-v2 .home-page-banner .image-caption {
    padding-top: 50px;  
  }
  .home-v2 .home-page-banner .image-caption h1 {
    font-size: 20px;
    line-height: 20px;  
  }
  .home-v2 .home-page-banner .image-caption p {
    margin-bottom: 5px;
    font-size: 14px;  
  }
  .home-v2 .home-page-banner .image-caption .appoinment-form {
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 35px 40px;
    bottom: 0;  
  }
  .home-v2 .home-page-banner .image-caption .appoinment-form .appoinment-form-fields .no-l-padding {
    padding-left: 15px;  
  }
  .home-v2 .home-page-banner .image-caption .appoinment-form h2 {
    font-size: 22px;  
  }
  .home-v2 .parents-feedback .layer {
    padding: 50px 0px 20px;  
  }
  .home-v2 .parents-feedback .layer .top-text {
    margin-bottom: 20px;  
  }
  .home-v2 .parents-feedback .layer .normal-feedback .item {
    margin-bottom: 70px;  
  }
  .home-v2 .parents-feedback .layer .normal-feedback .item img {
    left: 140px;  
  }
  .home-v2 .our-department .tab-content .tab-image {
    overflow: hidden;  
  }
  .home-v2 .our-department .tab-content .tab-image img {
    margin-top: 40px;  
  }
  .home-v2 .our-services {
    padding: 50px 0px 30px;  
  }
  .home-v2 .our-specialist {
    padding: 55px 0px;  
  }
  .home-v2 .recent-post {
    padding-bottom: 50px;  
  }
  .department-page .our-department {
    padding-top: 50px;
    padding-bottom: 50px;  
  }
  .department-page .our-department .tab-content .tab-image {
    overflow: hidden;  
  }
  .department-page .our-department .tab-content .tab-image img {
    margin-top: 50px;  
  }
  .sevices-page .our-services {
    padding: 55px 0px 0px;  
  }
  .blog-gird-page .recent-post {
    padding-bottom: 50px;  
  }  
}

/*custom*/
.font-Lato{
  /*font-family: Lato;*/
  
}

.cus-menu{
  /*font-family: Lato;*/
  color: #702f8a;
  
}

.cus-menu>li>a{
  /*font-family: Lato;*/
  padding: 1em 1.5em;
  margin: 0.5em 0em;
  font-weight: bold;
  font-size: 14px;
  color: #702f8a;
  text-decoration: none; 
}

.cus-menu li a:hover{
  text-decoration: none;
  /*background-color: #fff;*/
  
}

.cus-menu li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #702f8a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
}

.cus-menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  
}

.cus-menu li a:visited{
  text-decoration: none;
  background-color: #fff;
  
}

.cus-menu li a:active{
  text-decoration: none;
  background-color: #fff;
  
}

.cus-menu li ul li a:hover:before{
  visibility: hidden;
  
}