@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
}

body {
  font-family: "Lato";
  color: #702f8a;
}

.bg-main {
  background-color: #702f8a;
}

.nav-menu {
  background-color: #404040;
  width: 100%;
  padding: 5px;
  z-index: 3;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #702f8a;
}

.nav-menu li {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.nav-menu li a {
  /*font-family: Lato;*/
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.nav-menu li a:hover {
  color: black;
}

.text-black {
  color: black;
}

.no-border {
  border: 0px !important;
}

.border-main {
  border: 1px solid #702f8a !important;
}

.border-alert-bottom {
  border-bottom: 3px solid #d43f3a !important;
}

.rounded {
  border-radius: 6px !important;
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.m-0 {
  margin: 0px !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 0.75rem !important;
}

.mb-5, .my-5 {
  margin-bottom: 5rem !important;
}

.p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-5 {
  padding: 2.5rem !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-5, .px-5 {
  padding-left: 3rem !important;
}

.pr-5, .px-5 {
  padding-right: 3rem !important;
}

.align-items-center {
  -webkit-box-align: center !important;
          align-items: center !important;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100% !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
          flex-direction: column !important;
}

.d-flex {
  display: -webkit-box !important;
  display: flex !important;
}

.btn {
  border-radius: 0.25rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-mini {
  height: 30px;
  min-width: 30px;
  margin: 5px 0px;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.item-paket {
  margin: -15px;
  height: calc(100% + 30px) !important;
  width: calc(100% + 30px) !important;
  min-height: 250px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 25px;
}

.card-text {
  line-height: 24px;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck .card {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}
.card-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

.fixed-top {
  position: fixed;
  top: 0px;
}

@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
  }

  .card-group > .card {
    -webkit-box-flex: 1;
            flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group > .card:first-child .card-img-top,
.card-group > .card:first-child .card-header {
    border-top-right-radius: 0;
  }

  .card-group > .card:first-child .card-img-bottom,
.card-group > .card:first-child .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group > .card:last-child .card-img-top,
.card-group > .card:last-child .card-header {
    border-top-left-radius: 0;
  }

  .card-group > .card:last-child .card-img-bottom,
.card-group > .card:last-child .card-footer {
    border-bottom-left-radius: 0;
  }

  .card-group > .card:only-child {
    border-radius: 0.25rem;
  }

  .card-group > .card:only-child .card-img-top,
.card-group > .card:only-child .card-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .card-group > .card:only-child .card-img-bottom,
.card-group > .card:only-child .card-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }

  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
.card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
.card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
.card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
    border-radius: 0;
  }

  .card-plain {
    background: transparent;
    box-shadow: none;
  }

  .card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
  }

  .card-plain .card-body {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-plain .card-header-image {
    margin: 0 !important;
    border-radius: 6px;
  }

  .card-plain .card-header-image img {
    border-radius: 6px;
  }

  .card-plain .card-footer {
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
  }
}
.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
  position: relative;
  display: inline-block;
  top: 0;
  margin-top: -1em;
  margin-bottom: -1em;
  vertical-align: middle;
}

.btn-mini .material-icons {
  font-size: 17px;
  line-height: 25px;
}

.btn .fa {
  top: -2px !important;
}

.material-icons-custom {
  top: 2px !important;
}

.custom-size {
  max-width: 100%;
}

h5 {
  font-weight: 400;
}

.text-line-through {
  text-decoration: line-through;
}

.btn-custom {
  background-color: #702f8a;
}

.btn-custom:hover, btn-custom:focus {
  color: #ffffff !important;
  background-color: #611f7b;
  border-color: #611f7b;
}

.card {
  overflow: hidden;
}

.slide-samping {
  /*display: flex;*/
  flex-wrap: nowrap;
  overflow-x: auto;
}

.slide-samping .list_item {
  /*flex: 0 0 25%;*/
  max-width: 25em;
}

.list_item p {
  margin: 0 0 5px;
}

.text-promo {
  height: 25px !important;
}

.btn_beli, .jml_beli, .ket_jml {
  /*transition: all 2s ease-in;*/
}

.btn_beli .btn, .btn_out_stock .btn {
  /*border-top-left-radius: 0px;*/
  /*border-top-right-radius: 0px;*/
  border-radius: 0px;
  height: 55px;
}

.badge_item {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}

.ket_jml {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 250px;
  background-color: #0000004d;
}

.jml_paket {
  margin: -15px 0px;
  height: calc(100% + 30px) !important;
  width: 100%;
}

.list_item .card-body {
  cursor: pointer;
}

.detail-btn {
  width: 100%;
  height: 250px;
  position: absolute;
  /*cursor: pointer;*/
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  z-index: 1;
}

#modal-cart .card-text {
  font-size: 12px;
}

#modal-cart .card-body p {
  margin-bottom: 0px;
}

#contact_wa {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 155px;
  z-index: 99;
}

#checkout {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 99;
}

#modal-cart {
  /*position: fixed;
  top: 5px;
  right: 5px;
  margin: 0px !important;
  height: calc(100vh - 10px);
  transform: translate(0,0) !important;*/
}

#modal-cart .modal-content {
  /*height: calc(100vh - 11px);*/
}

#modal-cart #list_cart {
  height: 80%;
  overflow: auto;
  position: relative;
}

.section {
  min-height: 100vh;
  padding: 70px 0;
  position: relative;
  overflow: auto;
}

.container-img {
  height: auto;
  overflow: hidden;
}

.del-item-cart {
  position: absolute !important;
  top: 0px;
  right: 20px;
}

.img_item {
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0px;
  }

  #contact_wa {
    position: fixed;
    bottom: 100px;
    right: -1px;
    width: auto;
    z-index: 99;
  }
  #contact_wa .text_wa {
    display: none;
  }

  #checkout {
    width: 100%;
    position: fixed;
    right: 0px !important;
    top: auto;
    bottom: 0px;
    margin: 0px;
    border-radius: 0px;
    text-align: left;
  }

  .section {
    padding-top: 40px;
  }

  .detail_nama {
    margin-top: 10px !important;
  }
}
/*
.section{
  margin-right: 25vw;
  margin-left: -25vw;
}
*/
@media only screen and (min-width: 768px) {
  /*
  .section{
    margin-right: 50vw;
    margin-left: -50vw;
  }
  */
  .modal-custom-size {
    max-width: 25%;
  }

  .cont-custom {
    max-width: 90%;
  }

  .w-100 {
    width: 100%;
  }

  .btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.7rem;
    vertical-align: middle;
  }
}
deskripsi ul {
  padding-left: 40px;
}

.footer-beli {
  z-index: 2;
}

.mvh-100 {
  min-height: 100vh;
}

.align-items-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .justify-content-md-center {
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
}
.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

input:disabled {
  background: #dddddd;
}

.d-flex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.bg-dark {
  background: #44424c;
}

.text-main {
  color: #702f8a;
}

.text-dark {
  color: #44424c;
}

.bg-dark-light {
  background: #87858c;
}

.panel-default > .heading-white {
  background-color: white;
}

.text-white {
  color: white;
}

.btn-profile {
  height: 50px;
  max-width: 130px;
  margin: 0px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /*padding-right: 25px;*/
  border-radius: 0px;
}

.cus-menu {
  /*justify-content: center; */
  display: -webkit-box;
  display: flex;
  width: 100%;
}

#img_detail img {
  margin-bottom: 20px;
}

h3 nama {
  font-size: 25px;
  line-height: 25px;
}

/*mengatasi masalah scroll modal setelah ada style .loaded dari loader*/
.modal-open {
  overflow: hidden !important;
}

textarea {
  height: unset;
}

.badge-top {
  top: -7px;
  position: relative;
}

.form-control {
  height: auto;
  padding: 12px;
}

/*select2*/
.select2-selection__rendered {
  line-height: 38px !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-selection__arrow {
  height: 38px !important;
}

.blog-list-description ul {
  /*margin-left: 1.5em;*/
  list-style: none;
  margin-top: 10px;
}
.blog-list-description ul li:before {
  content: "\F061";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.5em;
  color: #702f8a;
}

.cus-menu li.active a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dropdown-menu > li > a {
  padding: 10px 20px;
}

.top-menu a {
  font-size: 13px;
  color: #702f8a;
}

.top-menu a i {
  font-size: 13px;
  color: #606060;
}